<section class="sidebar__section">
  <h1 class="sidebar__title">
    {% if forum_path is defined %}
      {{ 'title.search_forum'|trans }}
    {% else %}
      {{ 'title.search_site'|trans }}
    {% endif %}
  </h1>

  <form action="{{ url('external_search') }}" method="POST" target="_blank" class="sidebar__search form">
    {% if forum_path is defined %}
      <input type="hidden" name="forum" value="{{ forum_path }}" />
    {% endif %}

    <div class="form__row">
      <input type="text" name="query" placeholder="{{ 'label.search'|trans }}" />
    </div>
    
    <div class="form__help">
      <p>
        <strong>{{ 'help.search_external_prefix'|trans }}</strong>
        {{ 'help.search_external_message'|trans }}
        <noscript>{{ 'help.search_external_warning'|trans }}</noscript>
      </p>
    </div>

    <div class="form__row form__button-row">
      <button class="button" type="submit">
        {{ 'action.search'|trans }}
      </button>
    </div>
  </form>
</section>