{% extends 'base.html.twig' %}

{% from 'submission/_macros.html.twig' import submission, submission_sort %}
{% from _self import submission_filter %}

{% block head %}
  <link rel="canonical" href="{{ url('front') }}">

  <meta property="og:title" content="{{ site_name() }}">
  <meta property="og:site_name" content="{{ site_name() }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url('front') }}">
  <meta property="og:image" content="{{ absolute_url(asset('apple-touch-icon-precomposed.png')) }}">

  <link rel="alternate" type="application/atom+xml" href="{{ path('featured_feed') }}" title="{{ 'title.submissions_in_featured_forums'|trans }}">

  {% include '_includes/meta_pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block body %}
  <nav class="tabs submission-sort">
    <ul class="tabs__bar">{{ submission_sort(sort_by) }}</ul>
    <ul class="tabs__bar">{{ submission_filter(listing, sort_by) }}</ul>
  </nav>

  {% block front_alerts '' %}

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {% include '_includes/pagination.html.twig' with {pager: submissions} %}
{% endblock %}

{% block sidebar %}
  {% if app_external_search_enabled() %}
    {% include '_includes/search.html.twig' %}
  {% endif %}
{% endblock %}

{%- macro submission_filter(choice, sort_by) -%}
  {% with { active: choice == 'featured' } %}
    <li class="tabs__tab {{ active ? 'tabs__tab--active active' }}">
      <a href="{{ path('featured', {sortBy: sort_by}) }}" class="tabs__link {{ active ? 'tabs__link--active' }}">
        {{- 'front.featured'|trans -}}
      </a>
    </li>
  {% endwith %}

  {% if is_granted('ROLE_USER') %}
    {% with { active: choice == 'subscribed' } %}
      <li class="tabs__tab {{ active ? 'tabs__tab--active active' }}">
        <a href="{{ path('subscribed', {sortBy: sort_by}) }}" class="tabs__link {{ active ? 'tabs__link--active' }}">
          {{- 'front.subscribed'|trans -}}
        </a>
      </li>
    {% endwith %}
  {% endif %}

  {% with { active: choice == 'all' } %}
    <li class="tabs__tab {{ active ? 'tabs__tab--active active' }}">
      <a href="{{ path('all', {sortBy: sort_by}) }}" class="tabs__link {{ active ? 'tabs__link--active' }}">
        {{- 'front.all'|trans -}}
      </a>
    </li>
  {% endwith %}

  {% if choice == 'moderated' or app.user and app.user.moderatorTokens|length > 0 %}
    {% with { active: choice == 'moderated' } %}
      <li class="tabs__tab {{ active ? 'tabs__tab--active active' }}">
        <a href="{{ path('moderated', {sortBy: sort_by}) }}" class="tabs__link {{ active ? 'tabs__link--active' }}">
          {{- 'nav.moderated'|trans -}}
        </a>
      </li>
    {% endwith %}
  {% endif %}
{%- endmacro -%}
